section.modal(id=modalID): .modal-window
    header
        .closeBtn &times;
        block header

    section.toolbar: block toolbar

    section: block content

    section.buttonbar: block buttons
    
    footer: block footer
