section.modal(id=modalID): .modal-window

    block styles

    header
        .closeBtn &times;
        block header

    section.toolbar: block toolbar

    section#modal-content: block content

    section.buttonbar: block buttons
    
    footer: block footer
