extends _modal

include ../../common/widgets/mtrlScoreGraph/mtrlGraph.pug
include ../../common/widgets/mtrlScoreHist/mtrlHist.pug

//-
//- MIXINS
//-

//- 
//- CSS
//-
block append styles
    style(type="text/css").
        /*
         * Project info modal
         */
        /* Title */
        #mtrlScoreGraph .title {
            font-size: 1.1em;
            text-align: center;
            font-weight: 700;
        }


//-
//- HEADER
//-
block header 
    div MTRL score card for 
        !=acronym

//-
//- FOOTER
//-
block footer
    div #{footer}

//-
//- MAIN CONTENT
//-
block content
    +mtrlGraph(graphScores)
    +mtrlHist(scores)
