footer.footer
    //- Copyright notice
    .copyright &copy; 2020 <a href="https://cyberwatching.eu" target="_blank">Cyberwatching.eu</a> Project
    //- EU funding mark
    .funding
        img(src="/img/european-commission-small.png", alt="European Commission logo", width="60", height="42")
        p. 
            Cyberwatching.eu has received funding from the European Union’s Horizon 2020 
            research and innovation programme under grant agreement No 740129. The content
            of this website does not represent the opinion of the European Commission, 
            and the European Commission is not responsible for any use that might be made
            of such content. 
            <a href="https://cyberwatching.eu/content/privacy-policy-summary" target="_blank">Privacy Policy</a> | 
            <a href="https://cyberwatching.eu/privacy-policy-full" target="_blank">Disclaimer / Terms and Conditions of Use</a>

//- Powered by Cyberwatching.eu.
//- The Cybersecurity and Privacy Project Radar provides a birdseye view of the complete collection of EU funded projects in the cybersecurity space. Projects with a colour gradient have volunteered in a technology and market readiness assessment by Cyberwatching.eu.
//- Mouseover the sectors or the buttons to explore sectors. Click on a sector or button to drill down into individual sectors.
//- When in sector view, mouseover individual project dots to learn their short name.Click on a project name in the list view to see its vital statistics. Then engage with it more closely via the Cyberwatching.eu project hub.
//- This software is open source and available for download and self-hosting.