extends _base

block append head
    script(src='https://d3js.org/d3.v5.min.js')
    script(src='/js/lib/d3-tip.js')

//- 
//- TODO
//- This is prepared for future server-side rendering and/or static serving
//- of pre-stored SVG data for even faster user experience.
//- Currently, this is pretty superfluous as it doesn't do anything except
//- triggering the client-side rendering of the radar
//-
block content
    section#radar
        section#overview
            h1 #{radar.name}
            div #{radar.summary}
        section#radardata
            #rendering(width='auto', height="100%") 
                != radar.rendering.get('svg')
            #tables(width='33%', height:='100%')
                != radar.rendering.get('tables')


