body {
    margin: 0px;
    padding: 0px;
}

/*
 * HEADER SECTION
 */
header.header {
    width: 100%;
    display: table;
    background-position: 50% 35%;
    background-image: url('/img/header_background.jpg') !important;
}

/*
 * Header - project logo link
 */
nav.nav.nav-logo {
    width: 20%;
    margin: 0px;
    display: inline-block;
    border: 0px;
    padding: 0px;
}

nav.nav.nav-logo a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

nav.nav.nav-logo a img {
    width: 50%;
}

/*
 * Header - Title section
 */
div.title {
    width: 60%;
    border: 0px;
    margin: 0px;
    height: 100%;
    display: inline-block;
    padding: 1.5rem 0;
    text-align: center;
}

div.title span {
    font-family: 'Lato';
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}

/*
* Header - menu bar
*/
div.menu-bar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menu-bar > .menu-item {
    float: right;
}

.menu-bar > .menu-item:first-child {
    float: left;
}

.menu-item {
    border: none;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    position: relative;
}

div.menu-item a {
    display: block;
    font-family: 'Lato';
}

div.menu-item > a {
    font-weight: 400;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
}

.menu-item ul a {
    font-weight: 400;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
div.menu-item:active {
    border-bottom: 3px solid #bf3838;
}

.menu-item ul {
    width: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    border: 1px solid #bf3838;
}

.menu-item:hover {
    background-color: #bf3838;
}
.menu-item:hover ul {
    display: block;
}
