html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/*
 * HEADER SECTION
 */
header.header {
    width: 100%;
    background-position: 50% 35%;
    background-image: url('/img/header_background.jpg') !important;
}

/*
 * Header - project logo link
 */
.header--top {
    height: 100%;
}

.header--top .logo {
    width: 20%;
    margin: 0px;
    display: inline-block;
    border: 0px;
    padding: 0px;
}

.header--top .logo a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.header--top .logo a img {
    width: 50%;
}

/*
 * Header - Title section
 */
.header--top .title {
    width: 60%;
    border: 0px;
    margin: 0px;
    height: 100%;
    display: inline-block;
    padding: 1.5rem 0;
    text-align: center;
}

.title span {
    font-family: 'Lato';
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}

/*
* Header - menu bar
*/
.header--menu {
    width: 100%;
    height: 100%;
}

.menubar {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(150, 46, 36, 0.73);
}

.menubar .menu-right {
    float: right;
}

.menu-item {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-bottom: 3px solid transparent;
    height: 100%;
}
.menu-item:hover {
    background-color: rgba(236, 75, 59, 0.73);
}

.menu-item button {
    padding: 1rem;
    cursor: pointer;
    font-family: 'Lato';
    background: transparent;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    border: none;
    width: 100%;
    text-align: left;
}

.sub-menu {
    border: 1px solid lightgray;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
}

.sub-menu .menu-item {
    display: block;
}
.sub-menu .menu-item button {
    color: black;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
}
.sub-menu .menu-item:hover {
    background: lightgrey;
}
.sub-menu .menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover .sub-menu {
    display: block;
}
