html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Lato';
    font-size: 1rem;
    background-color: #fcfefc;
}

/*
 * HEADER SECTION
 */
header.header {
    width: 100%;
    background-position: 50% 35%;
    background-image: url('/img/header_background.jpg') !important;
}

/*
 * Header - project logo link
 */
.header--top {
    height: 100%;
}

.header--top .logo {
    width: 20%;
    margin: 0px;
    display: inline-block;
    border: 0px;
    padding: 0px;
}

.header--top .logo a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.header--top .logo a img {
    width: 50%;
}

/*
 * Header - Title section
 */
.header--top .title {
    width: 60%;
    border: 0px;
    margin: 0px;
    height: 100%;
    display: inline-block;
    padding: 1.5rem 0;
    text-align: center;
}

.title span {
    font-family: 'Lato';
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}

/*
* Header - menu bar
*/
.header--menu {
    width: 100%;
    height: 100%;
}

.menubar {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(150, 46, 36, 0.73);
}

.menubar .menu-right {
    float: right;
}

.menu-item {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-bottom: 3px solid transparent;
    height: 100%;
}
.menu-item:hover {
    background-color: rgba(236, 75, 59, 0.73);
}

.menu-item button {
    display: block;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    font-family: 'Lato';
    background: transparent;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    border: none;
    width: 100%;
    text-align: left;
}

.sub-menu {
    border: 1px solid lightgray;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
}

.sub-menu .menu-item {
    display: block;
    background: white;
}

.sub-menu .menu-item button {
    color: black;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
}

.sub-menu .menu-item:hover {
    background: lightgrey;
}
.sub-menu .menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover .sub-menu {
    display: block;
}

/*
 * FOOTER SECTION
 */
.footer {
    background-color: #666;
    color: #999;
    padding: 2rem 0rem;
}

.footer .spacer {
    width: 80%;
    margin: auto;
}

.footer a {
    color: #ccc;
}

.footer a:link,
.footer a:visited {
    text-decoration: none;
}

.footer .copyright {
    text-align: center;
    padding-bottom: 1rem;
}

.footer .funding {
    display: table;
}

.footer .funding img,
.footer .funding p {
    display: table-cell;
}

.funding p {
    vertical-align: top;
    padding-left: 1rem;
}

/*
 * ALERTS
 */
.alerts {
    margin: 1rem;
}
.alert {
    text-align: center;
    padding: 2rem;
    width: 50%;
    margin: auto;
}
.alert--success {
    background-color: #b1ffb1;
}
.alert--warning {
    background-color: #fff6a6;
}
.alert--error {
    background-color: #ffb6b1;
}

/*****************
 *               *
 *   R A D A R   *
 *               *
 *****************/

/* Rdar tooltip */
#bliptip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}
/* Creates a small triangle extender for the tooltip */
#bliptip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: '\25BC';
    position: absolute;
    text-align: center;
}
/* Style northward tooltips specifically */
#bliptip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

/* Radar overview */
#radar > #overview > h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

#radar > #overview > div {
    text-align: center;
    font-size: 1.2em;
}

/* SVG rendering of the radar */
#rendering {
    padding: 2em 5em;
}

svg > g.segment {
    transition-duration: 0.5s;
}

svg g.segment path.ring.divider {
    stroke-width: 3;
    stroke: red;
}

svg g.segment > path.ring-0 {
    fill: #aaaaaa;
}

svg g.segment > path.ring-1 {
    fill: #bababa;
}

svg g.segment > path.ring-2 {
    fill: #cacaca;
}

svg g.segment > path.ring-3 {
    fill: #dadada;
}

svg g.segment > path.ring-4 {
    fill: #eee;
}

svg g line {
    stroke: black;
    stroke-width: 5;
}

#tables {
    width: max-content;
}

.segment-table {
    display: none;
}

/****************************/
/*  MODAL dialogue generic  *
/****************************/
/* 
 * Base layout for any modal dialogue.
 * The modal "dialogue" is simply a div of max width and height 
 * to prevent any user interaction while displayed
 */
div.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/*
 * THe modal's "window". 
 * Provides the basc structure with header, footer, content area and the close button.
 */
div.modal > div.window {
    position: relative;
    margin: auto;
    background-color: #fefefe;
    border: 1px solid #666;
    border-radius: 10px;
    width: max-content;
    max-width: 55%;
    min-width: 15%;
    height: max-content;
    max-height: 55%;
    min-height: 15%;
    overflow: scroll;
}
div.modal > div.window > * {
    padding: 15px;
}

/* 
 * The modal's close button.
 * Always situated in the top right corner and always accessible over the header
 */
div.modal > div.window > div.closeBtn {
    padding: 0px;
    color: #aaaaaa;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    text-align: center;
}
div.modal > div.window > div.closeBtn:hover,
div.modal > div.window > div.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
div.modal > div.window > header {
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #666;
    background-color: #ddd;
}

div.modal > div.window > footer {
    font-size: 0.8em;
    border-top: 1px solid #666;
    background-color: #ddd;
}

/********************************
 *  Project info modal content  *
 ********************************/
#projectInfo .prjTitle {
    font-size: 1.1em;
    text-align: center;
    font-weight: 700;
}

#projectInfo .prjTeaser {
    margin-bottom: 0.5em;
}

/* key project data (start, end, budget, call */
#projectInfo .prjKeys {
    display: flex;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid lightgray;
}

.key {
    padding: 5px 0;
    flex: 1 1 0px;
    text-align: center;
    border-right: 1px solid lightgrey;
    font-size: 0.8em;
    color: darkgray;
}
.key:last-child {
    border-right: none;
}
.key span {
    font-weight: bold;
    display: block;
    font-size: 1.2em;
    color: black;
}

#projectInfo .score {
    display: flex;
}
#projectInfo .score .scale {
    flex: 0.65 0.65 0px;
}

#projectInfo .score .scale .label {
    text-align: center;
    font-weight: 700;
}

/* performance scale SVG */
#projectInfo .score .scale svg line {
    stroke-width: 2;
}
#projectInfo .score .scale svg line#perf {
    stroke: red;
    stroke-width: 3;
}
#projectInfo .score .scale svg text {
    text-anchor: middle;
    font-size: 0.9em;
}

/* MTRL score layput */
#projectInfo .score .mtrl {
    flex: 0.35 0.35 0px;
    display: flex;
}
#projectInfo .score .mtrl #mrl {
    flex: 1 1 0px;
}
#projectInfo .score .mtrl #trl {
    flex: 1 1 0px;
}
