.filter(id='jrctagsfilter')
    button JRC Taxonomy Filter

    div.ops
        label(for="any") Any
        label(for="all") All
        input(type="radio" id="any" name="ops" value="any")
        input(type="radio" id="all" name="ops" value="all")

    div.tags