include ../../../common/widgets/simple-metric/simple-metric.pug

doctype html
html
    head
        link(rel='shortcut icon' type='image/png' href='/img/favicon.ico')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700')
        script(defer src='/project-widget.js')
        style.
            body {
                width: min-content;
                margin: auto;
            }
            .container {
            }
            .content {
            }
            .cw {
                margin: auto;
                width: max-content;
            }
            .mtrl {
                width: max-content;
            }
            .mtrl a {
                text-decoration: none;
            }
            simple-metric {
                font-family: 'Lato';
                width: 3em;
                height: 3em;
                background: rgb(255, 255, 255, 0.7);
                border: 1px solid darkgray;
                border-radius: 5px;
                margin: 0.2em 0.5em;
                display: inline-flex;
            }

    //-
    //- TEMPLATE
    //- 
    body: .container
        .content
            .cw
                a(href="https://www.cyberwatching.eu", trget="_blank"): img(src="/img/cw-logo-widget.png")
            if (mrl && trl)
                .mtrl
                    a(href="https://radar.cyberwatching.eu", target="_blank")
                        +simple-metric('MRL', mrl, 'mrl')
                        +simple-metric('TRL', trl, 'trl')

