mixin mtrlPerfScale(scale)
    //- 
    //- CSS
    //- 
    style(type="text/css").
        #mtrlPerformanceScale line {
            stroke: black;
            stroke-width: 2;
            stroke-linecap: square;
        }
        #mtrlPerformanceScale line#perf {
            stroke: red;
        }
        #mtrlPerformanceScale text {
            text-anchor: middle;
        }

    //- 
    //- TEMPLATE
    //- 
    #mtrlPerformanceScale
        != scale

        