doctype html
html
  head
    title CW Project Radar | #{title}
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block links
      link(rel='shortcut icon' type='image/png' href='/img/favicon.ico')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700')
      link(rel='stylesheet' href='/css/styles.css')
    block scripts
      script(defer src='/radar.js')

  body(data-alertmsg=`${alert ? alert.message : ''}`, data-alerttype=`${alert ? alert.status : ''}`)
    //- HEADER
    include _header

    //- MODALS - they are not impacting the main layout
    section#modals
    
    //- CONTENT
    main#main(class=pageclass)
      #alerts
      block content
        h1 This is a placeholder heading

    //- FOOTER
    include _footer
