doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/styles.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.ico')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700')
      script(defer src='/bundle.js')
      title CW Project Radar | #{title}

  body(data-alertmsg=`${alert ? alert.message : ''}`, data-alerttype=`${alert ? alert.status : ''}`)
    //- HEADER
    include _header

    //- MODALS - they are not impacting the main layout
    section#modals

    
    //- CONTENT
    main#main
      #alerts
      block content
        h1 This is a placeholder heading


    //- FOOTER
    include _footer
