extends _base

block content
    .stats
        .stat
            span.num 16 
            span.txt years
        .stat
            span.num 116 
            span.txt calls

        .stat
            span.num 261 
            span.txt projects
        .stat
            span.num €1bn 
            span.txt funding

    .intro 
        p.
            These are just four of the key figures of how the European Union is funding projects addressing 
            #[strong Cybersecurity and Privacy] issues in today's world.
        p. 
            We've create the Cyberwatching Project Radar allowing you to quickly access key information aggregated 
            over all projects, and dig deeper into key information individually for each project.

        p.
            All radar editions are accessible via the #[strong Editions] menu. 