extends structure/_base

include ../../common/widgets/flickerbox/flickerbox.pug

block append head
    style(type="text/css").
        #tooltip {
            position: absolute;
            background: black;
            color: white;
            padding: 0.3em;
            width: fit-content;
            height: fit-content;
            z-index: 3;
            display: none;
        }

//- Main content block for the page.
block content
    include ./includes/infobar.pug

    //- The radar section
    section#radar
        //- Radar title, description, etc
        section#overview
            h1 #{radar.name}
            #summary-container 
                #scroller
                    #summary #{radar.summary}
                #flicker
                    #summary-flicker &#x2303
        //- some reactive stats
        //- section.activateable_wrapper
        //-     +flickerbox(true, 'stats')
        include includes/stats
        //- a wrapper to controll the height of the rada and filters
        #ctrl-wrp
            //- any filters for the radar blips
            //- section.activateable_wrapper
            //-     +flickerbox(true, 'stats')
            include includes/filters.pug
            //- the radar and the project tables
            section#radardata
                #rendering
                    #loadwait(style="display: flex; justify-content: space-around; align-items: center; height: 100%;")
                        img(src="/img/loading.png", width=25)
                #tables
            //- the blip tooltip
            #tooltip
