extends _base

block append head
    script(src='https://d3js.org/d3.v5.min.js')
    script(src='/lib/d3-tip.js')
    script(src='/views/projectInfo.js')

//- Main content block for the page.
block content
    //- The radar section
    section#radar
        section#overview
            h1 #{radar.name}
            div #{radar.summary}
        section#radardata
            #rendering
                != radar.rendering.get('svg')
            #tables
                != radar.rendering.get('tables')


