extends structure/_base

block append head
    style(type="text/css").
        #tooltip {
            position: absolute;
            background: black;
            color: white;
            padding: 0.3em;
            width: fit-content;
            height: fit-content;
            z-index: 3;
            display: none;
        }

//- Main content block for the page.
block content

    nav#info-bar
        div <h2>Legend 1 Title</h2>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        div <h2>Legend 2 Title</h2>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        div <h2>Legend 3 Title</h2>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        div <h2>Legend 4 Title</h2>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    //- The radar section
    section#radar
        //- Radar title, description, etc
        section#overview
            h1 #{radar.name}
            #summary-container 
                #scroller
                    #summary #{radar.summary}
                #flicker
                    #summary-flicker &#x2303
        //- a wrapper to controll the height of the rada and filters
        #ctrl-wrp
            //- any filters for the radar blips
            section#filters
                section#other
                    include includes/jrc-tagfilter
                include includes/search
            //- the radar and the project tables
            section#radardata
                #rendering
                    #loadwait(style="display: flex; justify-content: space-around; align-items: center; height: 100%;")
                        img(src="/img/loading.png", width=25)
                #tables
            //- the blip tooltip
            #tooltip
