extends _base

block append head
    script(src='/views/projectInfo.js')
    script(src='/views/jrcTaxonomyFilterModal.js')
    style(type="text/css").
        #tooltip {
            position: absolute;
            background: black;
            color: white;
            padding: 0.3em;
            width: fit-content;
            height: fit-content;
            z-index: 3;
            display: none;
        }

//- Main content block for the page.
block content

    nav#info-bar
        div <h2>Legend 1 Title</h2>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        div <h2>Legend 2 Title</h2>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        div <h2>Legend 3 Title</h2>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        div <h2>Legend 4 Title</h2>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    //- The radar section
    section#radar
        //- Radar title, description, etc
        section#overview
            h1 #{radar.name}
            #summary-container 
                #scroller
                    #summary #{radar.summary}
                #flicker
                    #summary-flicker &#x2303
        //- any filters for the radar blips
        section#filters
            section#other
                include jrc-tagfilter
            include search
        //- the radar and the project tables
        section#radardata
            #rendering
                != radar.rendering.rendering.get('svg')
            #tables
                != radar.rendering.rendering.get('tables')
        //- the blip tooltip
        #tooltip
