html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Lato';
    font-size: 1rem;
    background-color: #fcfefc;
}

/*
 * HEADER SECTION
 */
header.header {
    width: 100%;
    background-position: 50% 35%;
    background-image: url('/img/header_background.jpg') !important;
}

/*
 * Header - project logo link
 */
.header--top {
    height: 100%;
}

.header--top .logo {
    width: 20%;
    margin: 0px;
    display: inline-block;
    border: 0px;
    padding: 0px;
}

.header--top .logo a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.header--top .logo a img {
    width: 50%;
}

/*
 * Header - Title section
 */
.header--top .title {
    width: 60%;
    border: 0px;
    margin: 0px;
    height: 100%;
    display: inline-block;
    padding: 1.5rem 0;
    text-align: center;
}

.title a {
    text-decoration: none;
}

.title span {
    font-family: 'Lato';
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}

/*
 * Header - user menu
 */
.user--menu {
    width: 20%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.user--menu .nav__el {
    margin: 0 1em;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.user--menu .nav__el img {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}

/*
* Header - menu bar
*/
.header--menu {
    width: 100%;
    height: 100%;
}

.menubar {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(150, 46, 36, 0.73);
}

.menubar .menu-right {
    float: right;
}

.menu-item {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-bottom: 3px solid transparent;
    height: 100%;
}
.menu-item:hover {
    background-color: rgba(236, 75, 59, 0.73);
}

.menu-item button {
    display: block;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    font-family: 'Lato';
    background: transparent;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    border: none;
    width: 100%;
    text-align: left;
}

.sub-menu {
    border: 1px solid lightgray;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
}

.sub-menu .menu-item {
    display: block;
    background: white;
}

.sub-menu .menu-item button {
    color: black;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
}

.sub-menu .menu-item:hover {
    background: lightgrey;
}
.sub-menu .menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover .sub-menu {
    display: block;
}

/*
 * FOOTER SECTION
 */
.footer {
    background-color: #666;
    color: #999;
    padding: 2rem 0rem;
}

.footer .spacer {
    width: 80%;
    margin: auto;
}

.footer a {
    color: #ccc;
}

.footer a:link,
.footer a:visited {
    text-decoration: none;
}

.footer .copyright {
    text-align: center;
    padding-bottom: 1rem;
}

.footer .funding {
    display: table;
    padding-bottom: 1rem;
}

.footer .funding img,
.footer .funding p {
    display: table-cell;
}

.funding p {
    vertical-align: top;
    padding-left: 1rem;
}

.footer .version {
    text-align: center;
}

/*
 * ALERTS
 */
.alerts {
    margin: 1rem;
}
.alert {
    text-align: center;
    padding: 2rem;
    width: 50%;
    margin: auto;
}
.alert--success {
    background-color: #b1ffb1;
}
.alert--warning {
    background-color: #fff6a6;
}
.alert--error {
    background-color: #ffb6b1;
}

/***************
 *             *
 *  MAIN PAGE  *
 *             *
 ***************/

/* EC project funding stats */
.main .stats {
    text-align: center;
    margin: 48pt;
}

.main .stats .stat {
    display: inline;
    margin: 24pt;
}

.main .stat .txt {
    font-size: 18pt;
}
.main .stat .num {
    font-size: 24pt;
    font-weight: bold;
}

/* intro text */
.main .intro {
    margin: 48pt;
    font-size: 14pt;
}

/*****************
 *               *
 *   R A D A R   *
 *               *
 *****************/

/* Rdar tooltip */
#bliptip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}
/* Creates a small triangle extender for the tooltip */
#bliptip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: '\25BC';
    position: absolute;
    text-align: center;
}
/* Style northward tooltips specifically */
#bliptip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

/********************
 *                  *
 *  Radar overview  *
 *                  *
 ********************/
/* radar overview setion */
#radar > #overview {
    margin-bottom: 3em;
}

/* The radar title */
#radar > #overview > h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

/* Radar description incl. animation */
#radar > #overview > #summary-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    height: 3.5em;
    transition: 0.3s;
    max-height: 15em;
}
#radar > #overview > #summary-container.open {
    height: min-content;
}
/* The content area */
#radar > #overview > #summary-container > #scroller {
    overflow-y: auto;
    margin: 1em;
    width: 100%;
}
#radar > #overview > #summary-container > #scroller > #summary {
    text-align: center;
    font-size: 1.2em;
}
/* the flicker area */
#radar > #overview > #summary-container > #flicker {
    border-left: 1px solid lightgray;
}
#radar > #overview > #summary-container > #flicker > #summary-flicker {
    width: 1.5em;
    font-size: 1.2em;
    text-align: center;
    line-height: 2em;
    transition-duration: 0.3s;
    height: 1.5em;
    cursor: pointer;
}
#radar > #overview > #summary-container > #flicker > #summary-flicker.open {
    transition-duration: 0.3s;
    transform: rotateX(180deg);
}

/* control the height of the radar to 100% of the viewport */
#ctrl-wrp {
    max-height: 100vh;
}

/* The radar rendering and tables area */
#radardata {
    display: flex;
    max-height: 95vh;
}

/* SVG rendering of the radar */
#rendering {
    padding: 0 3em;
    flex: 1 1 0px;
}

svg {
    max-height: 95vh;
}

svg > g.segment {
    transition-duration: 0.5s;
}
svg > g.segment.dimmed {
    opacity: 0.3;
}

svg g.segment path.ring.divider {
    stroke-width: 3;
    stroke: red;
}

svg g.segment > path.ring-0 {
    fill: #aaaaaa;
}

svg g.segment > path.ring-1 {
    fill: #bababa;
}

svg g.segment > path.ring-2 {
    fill: #cacaca;
}

svg g.segment > path.ring-3 {
    fill: #dadada;
}

svg g.segment > path.ring-4 {
    fill: #eee;
}

svg g line {
    stroke: black;
    stroke-width: 5;
}

/*
 * Radar tables
 */
#tables {
    margin: 3em;
    width: max-content;
    overflow: scroll;
    max-height: 90vh;
}

.segment-table {
    display: none;
    padding-right: 3em;
}
.segment-table.visible {
    display: block;
}
.segment-table.dimmed {
    opacity: 0.3;
}
.segment-table h2 {
    display: none;
}

.segment-table .ring-table .rtHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
    margin-bottom: 0.4em;
}
.segment-table .ring-table h3 {
    margin-bottom: 0;
}
.segment-table .ring-table .rtHeader .flicker {
    cursor: pointer;
    transition-duration: 0.3s;
}
.segment-table .ring-table .rtHeader .flicker.closed {
    transform: rotateX(180deg);
}

.segment-table .ring-table ul {
    margin: 0;
    padding-inline-start: 0;
}
.segment-table .ring-table ul.hide {
    display: none;
}

.segment-table .ring-table ul li {
    list-style: none;
}
.segment-table .ring-table ul li div {
    cursor: pointer;
}
.segment-table .ring-table ul li div.highlight {
    background-color: lightgray;
}

/****************************
 *                          *
 *  MODAL dialogue generic  *
 *                          *
 ****************************/
/* 
 * Base layout for any modal dialogue.
 * The modal dialogue is simply a div of max width and height 
 * to prevent any user interaction while displayed
 */
section.modal {
    position: fixed; /* stay in place */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* use full viewport */
    z-index: 9999; /* Stay on top of other elements */
    background-color: rgba(0, 0, 0, 0.4); /* Shaded backgrund colour */
}
/*
 * The modal window
 * Provides the basc structure with header, footer, content area and the close button.
 */
section.modal > div.modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto; /* Centre the modal window to viewport middle */
    max-width: 60%;
    max-height: 60%;
    min-width: 20%;
    min-height: 20%; /* Set min and max size  constraints */
    width: fit-content;
    height: fit-content; /* Otherwise make width and height to fir the content */
    background-color: #fefefe;
    border: 1px solid #666;
    border-radius: 7px; /* some nice themng */
    display: flex;
    flex-direction: column; /* Layout elements in a column */
}
/*
 * The modal header
 */
/* General modal header layout */
section.modal > div.modal-window > header {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #ddd;
    border-bottom: 1px solid #666;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    flex: 0 0 0px;
}
/* Style links in the header */
section.modal > div.modal-window > header a {
    text-decoration: none;
}
section.modal > div.modal-window > header a:visited,
section.modal > div.modal-window > header a:link {
    color: black;
}
section.modal > div.modal-window > header a:after {
    content: '\29C9';
    font-size: 60%;
    color: #47468e;
    vertical-align: super;
}

/* 
 * The modal's close button.
 * Always situated in the top right corner and always accessible above the header
 */
section.modal > div.modal-window > header > div.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    color: #666;
    margin: 0 0.3em;
}
section.modal > div.modal-window > header > div.closeBtn:hover,
section.modal > div.modal-window > header > div.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*
 * Modal TOOLBAR
 */
section.modal > div.modal-window > section.toolbar:empty {
    display: none;
}
/*
 * Modal BUTTON BAR (if any)
 */
section.modal > div.modal-window > section.buttonbar:empty {
    display: none;
}
/*
 * General layout for the content section
 */
section.modal > div.modal-window > section#modal-content {
    flex: 1 1 auto;
    overflow-y: auto;
    margin: 1em;
}

/*
 * General layout for the footer section
 */
section.modal > div.modal-window > footer {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    min-height: 1.5em;
    background-color: #ddd;
    border-top: 1px solid #666;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex: 0 0 0px;
}
div.modal > div.window > footer {
    font-size: 0.8em;
    border-top: 1px solid #666;
    background-color: #ddd;
}

/******************************
 *                            *
 *  MODAL dialogue Ok/Cancel  *
 *                            *
 ******************************/
/* The button bar of a Yes/No etc modal dialogue */
section.modal > div.modal-window > section.buttonbar {
    flex: 1 0 auto;
    text-align: center;
    padding: 0.5em;
    border-top: 1px solid lightgrey;
    margin: 0.5em 0 0 0;
}
/* The action buttons get some styling as well */

/********************************
 *                              *
 *  Radar filter tagging forms  *
 *                              *
 *******************************/
/* General layout for the filter list(s) */
#filters {
    margin: 0 4em;
    display: flex;
}

/*
 * All other filters
 */
/* Other filters get all space and have a right margin */
#other {
    flex: 1 1 auto;
    margin-right: 1em;
}

/* Each filder ... */
#other > div.filter {
    margin: 0.5em 0;
    display: flex;
    align-items: flex-start;
}
#other > .filter:first-child {
    margin-top: 0em;
}
#other > .filter:last-child {
    margin-bottom: 0em;
}
/* Each filter child ... */
#other > .filter > * {
    vertical-align: top;
}
#other > .filter > *:first-child {
    margin-right: 0.5em;
}
/* ... has a button, ... */
#other > div.filter button {
    font-family: 'Lato';
    font-size: 0.8em;
    padding: 0.2em;
    height: max-content;
    flex: 0 0 auto;
}
/* ... an ops div, ... */
#other > div.filter div.ops {
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 0.2em;
    font-size: 0.8em;
}
#other > div.filter div.ops * {
    text-align: center;
    margin: auto;
}

/* ... and a noneditable list of tags. */
#other > div.filter div.tags {
    font-family: 'Lato';
    font-size: 0.8em;
}
/* Each individual tag */
#other > div.filter div.tags div.tag {
    display: inline-block;
    border: 1px solid darkgray;
    padding: 0.1em 0.5em;
    border-radius: 0.5em;
    margin: 0 0.3em 0.5em 0.3em;
    position: relative;
    padding-right: 1em;
}
#other > div.filter div.tags div.tag > div {
    display: inline-block;
}
#other > div.filter div.tags div.tag > div:nth-of-type(2) {
    position: absolute;
    vertical-align: top;
    top: -4px;
    right: 2px;
    color: darkgray;
    cursor: pointer;
}
/* elements in the modal to select the tags */
form.form--filter-tags ul,
form.form--edit-tags ul {
    list-style: none;
}
form.form--filter-tags > ul > li:first-child {
    font-weight: bold;
    font-size: 1.2em;
}

/*
 * Search
 */
/* Search area stays small and can shrink if necessary, but not grow */
#search {
    flex: 0 1 auto;
}
/* search text field needs styling */
#search_term {
}
#search_term:focus {
    outline: none;
}
/* ditto the cancel button */
#search_clear {
    background-color: white;
    border: unset;
    font-size: 16pt;
    vertical-align: middle;
    color: black;
    line-height: 0%;
}
#search_clear:focus {
    outline: none;
}
/* search results list position is absolute so as to overlay the radar if very long */
#search_results {
    position: absolute;
    display: grid;
    gap: 0 0;
    border: 1px solid lightgray;
}
/* each search result element */
#search_results > button {
    display: block;
    margin: 0;
    border: 0;
    background-color: white;
    text-align: left;
    border-bottom: 1px dotted lightgray;
    padding: 0.3em 0.5em;
    cursor: pointer;
}
#search_results > button:last-child {
    border-bottom: unset;
}
#search_results > button:hover {
    background-color: #eaeaea;
}

#info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 30px 0;
}

#info-bar div {
    margin: 15px;
    flex: 1 1 0px;
    text-align: center;
    background: #1c75bc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 0 12px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

#info-bar div:hover {
    background: #f7941d;
    box-shadow: none;
    transition: 0.3s;
}

#info-bar div h2,
#info-bar div p {
    color: #fff;
}
