extends ../../structure/_base

block content

    section.intro
        a(name="intro")
        div.title Project lifecycle
        p:  | In the last 16 years, the European Commission has launched 115 calls that were 
            | either explicitly supporting projects in the domain of Cybersecurity and Privacy 
            | (CS &amp; P), or from which projects in this area were supported. 
        p:  | The Project Radar includes projects from the following calls.
    
    section.topic
        a(name="radar_rings")
        div.title Alphabetical list of EC funding calls
        div(style="column-count: 3;")
            div CIP-01-2016-2017
            div DRS-17-2014
            div DS-01-2014
            div DS-01-2016
            div DS-02-2014
            div DS-02-2016
            div DS-02-2016
            div DS-03-2015
            div DS-03-2016
            div DS-04-2015
            div DS-04-2016
            div DS-05-2015
            div DS-05-2016
            div DS-06-2014
            div DS-07-2015
            div DT-ICT-02-2018
            div ECSEL-2016-2-IA-two-stage
            div ECSEL-2017-2
            div EE-13-2014
            div EIC-SMEInst-2018-2020
            div EINFRA-22-2016
            div ERC-2013-SyG
            div ERC-2018-COG
            div ERC-AG-PE6
            div ERC-CG-2013-PE6
            div ERC-CoG-2014
            div ERC-SG-PE6
            div EUB-1-2015
            div FCT-09-2015
            div FP7-ICT-2013-10
            div FP7-PEOPLE-2011-IOF
            div FP7-PEOPLE-2012-CIG
            div FP7-PEOPLE-2013-CIG
            div FP7-PEOPLE-2013-IIF
            div FP7-PEOPLE-IOF-2008
            div FP7-SEC-2012-1
            div H2020-DS-LEIT-2017
            div H2020-DS-SC7-2016
            div H2020-DS-SC7-2017	
            div H2020-EU.3.7.4
            div H2020-FOF-2016
            div H2020-ICT-2014-1
            div H2020-ICT-2015
            div H2020-ICT-2016-1
            div H2020-ICT-2017-1
            div H2020-INFRAEOSC-2018-1
            div H2020-IOT-2016
            div H2020-IOT-2017
            div H2020-MSCA-RISE-2015
            div H2020-MSCA-RISE-2017
            div H2020-SC1-FA-DTS-2018-1
            div H2020-SMEINST-1-2016-2017
            div H2020-SU-ICT-2018
            div H2020-SU-ICT-2018-2
            div ICT-01-2019
            div ICT-06-2016
            div ICT-07-2014
            div ICT-09-2014
            div ICT-10-2016
            div ICT-12-2015
            div ICT-12-2016
            div ICT-16-2015
            div ICT-18-2016
            div ICT-20-2019-2020
            div ICT-2007.1.4
            div ICT-2007.6.2
            div ICT-2009.1.4
            div ICT-2013.1.5
            div ICT-2013.10.1
            div ICT-2013.6.1
            div ICT-32-2014
            div ICT-35-2016
            div ICT-37-2014-1
            div ICT-37-2015-1
            div ICT-38-2015
            div INNOSUP-02-2016
            div JTI-CS2-2018-CfP09-SYS-01-11	
            div MSCA-COFUND-2016
            div MSCA-IF-2014-EF
            div MSCA-IF-2015-EF
            div MSCA-IF-2016
            div MSCA-IF-2017
            div MSCA-IF-2018
            div MSCA-ITN-2014-ETN
            div MSCA-ITN-2015-ETN
            div MSCA-RISE-2015
            div MSCA-RISE-2016
            div MSCA-RISE-2018
            div MSCA-RISE-2019
            div PEOPLE-2007-4-3.IRG
            div S2R-OC-IP2-01-2015
            div SEC-2010.6.5-2
            div SEC-2011.2.5-1
            div SEC-2011.3.4-1
            div SEC-2011.6.1-5
            div SEC-2011.6.5-2
            div SEC-2012.2.3-1
            div SEC-2012.6.1-2
            div SiS-2008-1.2.2.1
            div SiS-2009-1.1.2.1
            div SiS.2013.1.2-1
            div SMEInst-01-2016-2017
            div SMEInst-02-2016-2017
            div SMEInst-09-2016-2017
            div SMEInst-10-2016-2017
            div SMEInst-13-2016-2017
            div SSH-2009-3.2.1.
            div SU-DS01-2018
            div SU-DS04-2018-2020
            div SU-DS05-2018-2019
            div SU-FCT02-2018-2019-2020
            div SU-ICT-01-2018
            div SU-INFRA01-2018-2019-2020
            div SU-TDS-02-2018
            div SU-TDS-03-2018
