extends ../../structure/_base

block content

    section.intro
        a(name="intro")
        div.title Project lifecycle
        p:  | Just as software, projects undergo a common lifecycle. For the purpose of this 
            | Project Radar, we have defined the following stages in a project lifecycle that are
            | of interest here:
        p(style="text-align: center;") Assess &#8594; Trial &#8594; Adopt &#8594; Hold &#8594; Drop
        p:  | The rings represent the position of the projects in terms of their contractual 
            | project lifecycle. It assumes that projects generally progress satisfactorily 
            | towards their goals and outcom, relying on this being ensured by the funding 
            | programmes own checks and balances. In the case of EU H2020, these are the regular 
            | project reviews, and the selection of expert reviewers for the project by the 
            | Commission.

    section.topic
        a(name="radar_rings")
        div.title Radar rings illustrate project phase
        p:  | Labels reflect the project lifecycle phases indicated above. They closely resemble 
            | the ascension through the Technology Readiness Levels (TRL) that are ubiquitous in 
            | the technology and engineering sectors.
        p: img(src="/img/lifecycle_rings.png" style="display: block; width: 40%; margin: auto;")
        p:  | As this progression through the rings is not immediately clear, a red demarcation 
            | circle in the radars illustrate the border between the "Assess" and "Hold state" that,
            | while visual neighbours, are very different stages in a project lifecycle.
            |

    section.topic
        a(name="lifecycle_definition")
        div.title Definition of lifecycle stages

    section.sub-topic
        div.title 1. Assess
        p  
            em Technical criterion: 
            | The project is running, and has 
            b more than 6 months to go.
        p:  | The project is still running, and has still a considerable amount of time to 
            | further mature their results and outputs, yet needs to think about how it will 
            | play out the final stretch of project lifetime.
        p
            em Recommendation: 
            | Study the project’s high-level description and designated outputs, and compare 
            | with your own strategy and needs. If there is a match, put the project on a 
            | personal/specific short-list for further check-up later.

    section.sub-topic
        div.title 2. Trial
        p  
            em Technical criterion: 
            | The project is running, and has 
            b less than 6 months to go.
        p:  | The project is now seriously busy finalising its planned outputs. That might be a 
            | piece of software, an innovative algorithm, or a study whose results may impact 
            | your own work. Some of the planned work might have been dropped in order to reach 
            | the stated goal for more important outputs.
        p
            em Recommendation: 
            | Check back regularly with the project (either actively or passively) to see how the 
            | output you are interested in is progressing. Refine your shortlist based on the 
            | results of that exercise; expect your shortlist getting smaller unless there are 
            | new projects in the pipeline that stock it up again. For those you consider 
            | specifically mature, you should consider first practical trials of integrating the 
            | output into your portfolio – not to accomplish it straight away, but to anticipate 
            | the level of “integration pain” you may experience later. Click on the project’s 
            | score card and contact then directly through their mini-site.

    section.sub-topic
        div.title 3. Adopt
        p  
            em Technical criterion: 
            | The project finished 
            b less than 1 year ago.
        p:   | The project has finished and published its results and outputs. Project output are 
            | usually considered stable and the focus of uptake into production. There may be 
            | further changes to it, especially with active communities supporting it, but expect 
            | at least a temporary significant drop in speed of change in this timeframe.
        p
            em Recommendation: 
            | For projects that stayed on your shortlist unto this stage, this is the time to 
            | start serious integration trials with stable versions of the output. In the case 
            | of study results, or non-IT related outputs, the expected integration pain may 
            | affect your overall business strategy and cause changes in operations and processes, 
            | rather than technical integration challenges that present themselves with IT 
            | integrations.

    section.sub-topic
        div.title 4. Hold
        p  
            em Technical criterion: 
            | The project finished 
            b more than 1 year ago.
        p:  | If you haven’t already decided to integrate the project’s outputs into your own 
            | business, or more neutrally, operations at large, projects in this“stage may still 
            | have value to you, but you need to understand the how the then published outputs 
            | have fared until now, and may fare in the future.
        p:  | Project results in the IT sector, and especially in the currently very dynamic 
            | cybersecurity domain age very quickly, as competition is fierce, and many outputs 
            | are superseded by technical innovation, or other projects simply having been faster 
            | or more efficient in their execution.
        p
            em Recommendation: 
            | Look out for the support infrastructure and community for the outputs of that 
            | project. Is alive and active? Is it expanding or contracting? As far as concepts 
            | and new knowledge is concerned, how well are outputs from about 2 years ago still 
            | valid? Be very sure about the impact and skills required when deciding to integrate 
            | outputs of that age.

    section.sub-topic
        div.title 5. Drop
        p  
            em Technical criterion: 
            | The project finished 
            b more than 2 years ago.
        p:  | The project has seen its sunset quite a while ago. At this point in time, you will 
            | know whether its outputs have succeeded or not. If it did, then it is usually 
            | disassociated from the original project and has formed a life and purpose of its 
            | own, and you can focus on the software, hardware, knowledge, or insight itself. As 
            | far as tracking and collecting project related information, it is safe to consign 
            | it to the long-term archives.
        p
            em Recommendation: 
            | For all intents and purposes, projects at this stage are safe to discard from your 
            | attention.

